@charset "utf-8";
/* CSS Document */
body{
	padding:0;
	margin:0;
	background:url(../img/bg.png) no-repeat right top;
}

/* Login Page*/
#login{
	position:relative;
	width:500px;
	height:150px;
	margin-top:260px;
	margin-left:auto;
	margin-right:auto;
}

#login .photo{
	position:absolute;
	width:150px;
	height:inherit;
	left:0px;
	vertical-align:central;
}

#login .form_login{
	position:absolute;
	width:340px;
	height:inherit;
	right:0px;
	padding-left:20px;
}

/*End of Login Page*/

body #kiri{
	width:30%;
	height:inherit;
	min-height:100%;
	position:absolute;
	left:0px;
	background:#EFEFEF;
}

body #kanan{
	width:70%;
	height:inherit;
	min-height:100%;
	position:absolute;
	right:0px;
}

#footer{
	position:absolute;
	width:100%;
	height:60px;
	bottom:0px;
}

#footer .content_footer{
	position:absolute;
	width:50%;
	padding:0px 20px 0px 20px;
	height:inherit;
}

#footer .content_footer .menu_footer{
	width:auto;
	height:inherit;
	padding-left:10px;
	padding-top:10px;
	float:left;
}

.rotasi{
transition-property: transform;
transition-duration: 1s;
-moz-transition-property: transform; /* Firefox 4 */
-moz-transition-duration: 1s; /* Firefox 4 */
-webkit-transition-property: transform; /* Safari and Chrome */
-webkit-transition-duration: 1s; /* Safari and Chrome */
-o-transition-property: transform; /* Opera */
-o-transition-duration: 1s; /* Opera */
}

.rotasi:hover{
transform:rotateZ(360deg);
}

.no_scroll{
	overflow:hidden;
}